<!doctype html>
<html lang="fr">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">

</head>

<body>
    <div class="container">

        <h1>Traducteur code EMS</h1>

        <p>Le code EMS doit être entré dans l'ordre, avec des esapaces de séparation</p>
        <p>
            <strong>Note:</strong>
            ce traducteur effectue une traduction mot à mot et n'effectue aucune vérification sur
            la justesse du code (par exemple il traduira w 33 sans sourcillier).
        </p>
        <div id="EMSCodeTranslator">
            <table class="table">
                <tr>
                    <th>Code EMS:</th>
                    <td><input v-model="ems_code">
                        <button type="submit" class="btn btn-primary" v-on:click="do_translation">traduire</button></td>
                </tr>
                <tr>
                    <th>Couleur:</th>
                    <td>{{color}}</td>
                </tr>
                <tr>
                    <th>Genotype</th>
                    <td>{{genotype}}</td>
                </tr>
            </table>


        </div>
        <h1>Marrieur</h1>

        <p>
            En entrant les codes EMS du père et de la mère le système va essayer de vous
            donner les diffèrentes couleurs de chatons possibles.
        </p>
        <p>
            <strong>Note 1:</strong>Le code EMS doit être entré dans l'ordre (lettres, ensuite chiffres), avec des
            espaces de séparation.
        </p>
        <p>
            <strong>Note 2:</strong>
            ce traducteur effectue une traduction mot à mot et n'effectue aucune vérification sur
            la justesse du code (par exemple il traduira w 33 sans sourcillier).
        </p>
        <p>
            <strong>Note 3:</strong>
            <em>AUCUNE GARANTIE SUR LA QUALITE OU L'EXACTITUDE DU RESULTAT</em>
        </p>
        <div id="Breeding">
            <table class="table">
                <tr>
                    <th></th>
                    <th>Code EMS</th>
                    <th>Couleur</th>
                    <th>Genotype</th>
                </tr>
                <tr>
                    <th>Pére:</th>
                    <td><input v-model="father_ems"></td>
                    <td>{{father_color}}</td>
                    <td>{{father_genotype}}</td>
                </tr>
                <tr>
                    <th>Mère:</th>
                    <td><input v-model="mother_ems"></td>
                    <td>{{mother_color}}</td>
                    <td>{{mother_genotype}}</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <button type="submit" class="btn btn-primary" v-on:click="do_breeding">Marrions les</button>
                    </td>
                </tr>
            </table>

            <h3>Les chatons pourraient être:</h3>

            <h4>couleur</h4>
            <table class="table" id="kitten-colors-list">
                    <tr>
                            <th>genotype</th>
                            <th>sex</th>
                            <th>color</th>
                            <th>ems</th>
                        </tr>
                    <tr v-for="kit_color in kitten_colors.colors">
                    <td>{{kit_color.genotype}}</td>
                    <td>{{kit_color.sex}}</td>
                    <td>{{kit_color.color}}</td>
                    <td>{{kit_color.color_ems}}</td>
                </tr>
            </table>
            <h4>silver</h4>
            <table class="table" id="kitten-silver-list">

                <tr v-for="kit_color in kitten_colors.silver">
                    <td>{{kit_color.genotype}}</td>
                    <td>{{kit_color.text}}</td>
                </tr>
            </table>
            <h4>aggouti</h4>
            <table class="table" id="kitten-aggouti-list">
                <tr v-for="kit_color in kitten_colors.aggouti">
                    <td>{{kit_color.genotype}}</td>
                    <td>{{kit_color.text}}</td>
                </tr>
            </table>
            <h4>point</h4>
            <table class="table" id="kitten-siamese-list">
                <tr v-for="kit_color in kitten_colors.siamese">
                    <td>{{kit_color.genotype}}</td>
                    <td>{{kit_color.text}}</td>
                </tr>
            </table>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script-->
    <script src="ems_translator.js"></script>
    <script src="ems_genotype.js"></script>
    <script src="ems_breeding.js"></script>
    <script src="index.js"></script>

</body>

</html>