<!doctype html>
<html lang="fr">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">

</head>

<body>
    <div class="container">

        <h1>Traducteur code EMS</h1>

        <p>Le code EMS doit être entré dans l'ordre, avec des esapaces de séparation</p>
        <p>
            <strong>Note:</strong>
            ce traducteur effectue une traduction mot à mot et n'effectue aucune vérification sur
            la justesse du code (par exemple il traduira w 33 sans sourcillier).
        </p>
        <div id="EMSCodeTranslator">
            <div v-if="colors_error" class="alert alert-warning" role="alert">
                <strong>Couleur(s) inconnue(s)</strong>: {{color.colors_error.join(", ")}}
            </div>
            <div v-if="patterns_error" class="alert alert-warning" role="alert">
                <strong>Modificateur(s) inconnu(s)</strong>:{{color.patterns_error.join(", ")}}
            </div>
            <table class="table">
                <tr>
                    <th>Code EMS:</th>
                    <td><input v-model="ems_code">
                        <!--button type="submit" class="btn btn-primary" v-on:click="do_translation">traduire</button-->
                    </td>
                </tr>
                <tr>
                    <th>Couleur:</th>
                    <td>{{translated_color}}
                    </td>
                </tr>
                <tr>
                    <th>Genotype</th>
                    <td>{{translated_genotype}}</td>
                </tr>
            </table>


        </div>
        <h1>Marrieur</h1>

        <p>
            En entrant les codes EMS du père et de la mère le système va essayer de vous
            donner les diffèrentes couleurs de chatons possibles.
        </p>
        <p>
            <strong>Note 1:</strong>Le code EMS doit être entré dans l'ordre (lettres, ensuite chiffres), avec des
            espaces de séparation.
        </p>
        <p>
            <strong>Note 2:</strong>
            ce traducteur effectue une traduction mot à mot et n'effectue aucune vérification sur
            la justesse du code (par exemple il traduira w 33 sans sourcillier).
        </p>
        <p>
            <strong>Note 3:</strong>
            <em>AUCUNE GARANTIE SUR LA QUALITE OU L'EXACTITUDE DU RESULTAT</em>
        </p>
        <div id="Breeding">
            <div v-if="father_colors_error || mother_colors_error" class="alert alert-warning" role="alert">
                <strong>Couleur(s) inconnue(s)</strong>:
                {{[father_color.colors_error, mother_color.colors_error].flat().join(", ")}}
            </div>
            <div v-if="father_patterns_error || mother_colors_error" class="alert alert-warning" role="alert">
                <strong>Modificateur(s) inconnu(s)</strong>:
                {{[father_color.patterns_error, mother_color.patterns_error].flat().join(", ")}}
            </div>
            <table class="table">
                <tr>
                    <th></th>
                    <th>Code EMS</th>
                    <th>Couleur</th>
                    <th>Genotype</th>
                    <th></th>
                </tr>
                <tr>
                    <th>Pére:</th>
                    <td><input v-model="father_ems"></td>
                    <td>{{father_translated_color}}</td>
                    <td><input v-model="father_genotype"></td>
                    <td>
                        <div v-if="father_parsed_genotype_error" class="alert alert-warning" role="alert">
                            <strong>Erreur</strong>:
                            {{father_parsed_genotype.genes_error.join(", ")}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Mère:</th>
                    <td><input v-model="mother_ems"></td>
                    <td>{{mother_translated_color}}</td>
                    <td><input v-model="mother_genotype"></td>
                    <td>
                        <div v-if="mother_parsed_genotype_error" class="alert alert-warning" role="alert">
                            <strong>Erreur</strong>:
                            {{mother_parsed_genotype.genes_error.join(", ")}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <button type="submit" class="btn btn-primary" v-on:click="do_breeding">Marrions les</button>
                    </td>
                </tr>
            </table>

            <h3>Les chatons pourraient être:</h3>

            <h4>Couleurs:</h4>
            <table class="table" id="kitten-colors-list">
                <tr>
                    <th>sex <a @click="sort('sex')"><i class="fa fa-arrows-v"></i></a></th>
                    <th>color <a @click="sort('color')"><i class="fa fa-arrows-v"></i></a></th>
                    <th>genotype <a @click="sort('genotype')"><i class="fa fa-arrows-v"></i></a></th>
                    <th>ems <a @click="sort('ems')"><i class="fa fa-arrows-v"></i></a></th>
                    <th>comments</th>
                </tr>
                <tr v-for="kit_color in sortedKitten">
                    <td>{{kit_color.sex}}</td>
                    <td>{{kit_color.color}}</td>
                    <td>{{kit_color.genotype}}</td>
                    <td>{{kit_color.color_ems}}</td>
                    <td>{{kit_color.comments.join(", ")}}</td>
                </tr>
            </table>
            <div v-if="kitten_colors.collection">
                <h4>Statistics</h4>
                <table class="table">
                    <tr v-for="(count, key) in kitten_colors.collection.counters">
                        <td>{{key}}</td>
                        <td>{{(count/kitten_colors.collection.length * 100).toFixed(2)}} %</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <footer class="page-footer font-small blue pt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
            <hr class="clearfix w-100 pb-3">

            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">
                    <!-- Content -->
                    <p>source @ <a
                            href="https://github.com/mfutech/kitten-colors">https://github.com/mfutech/kitten-colors</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">
                    <a href="https://info.siberien.ch">info.siberien.ch</a>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">
                    © 2019  <a href="mailto:mfutech@gmail.com">Marc Furrer</a>
                </div>
    </footer>
    <!-- Footer -->


    <script src="https://use.fontawesome.com/a3a579ef64.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script-->
    <script src="utils.js"></script>
    <script src="ems_translator.js"></script>
    <script src="ems_genotype.js"></script>
    <script src="ems_breeding.js"></script>
    <script src="index.js"></script>


</body>

</html>