<!doctype html>
<html lang="fr">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/list.css">
    <!--meta http-equiv="Refresh" content="0; url='https://www.w3docs.com'" /-->
</head>

<body>
    <div class="container">

    <h1>Calculateurs</h1>

    <ul>
        <li>sous forme de <a href="list.html">liste</a></li>
        <li>sous forme de <a href="tableau.html">tableau</a></li>
        <li>la version table, spéciale <a href="siberien.html">chats sibériens</a></li>
    </ul>
    </div>
    <script src="list.js"></script>

</body>

</html>